//  header-navbar-top scss start
.header-top-navbar {
  background-color: $main-color;
  padding: 20px 0;
}
.header-contact-item-wrap {
  display: flex;
}
.header-contact-img {
  width: auto;
  margin-right: 15px;
}
.header-contact-item {
  padding: 0 25px;
  border-left: 3px solid #0749b5;
  border-right: 3px solid #77a8fa;
  &:first-child {
    border-left: none;
  }
  &:last-child {
    border-right: none;
  }
}
.header-contact-title {
  color: #fff;
  font-weight: 600;
}
.header-contact-info {
  color: #fff;
}
.navbar-brand {
  padding: 0;
}
.header-logo {
  width: 180px;
  &.remove {
    display: none;
  }
}
.header-logo-fixed {
  width: 180px;
  display: none;
  &.active {
    display: block;
  }
}
.navbar {
  padding: 0;
}
.nav-link {
  font-family: $font-1;
  font-size: 20px;
  color: #575757 !important;
  padding: 10px 15px !important;
  transition: 0.4s;
  &.active-nav {
    color: #000 !important;
    &.active {
      color: #ffffff !important;
    }
  }
  &:hover {
    color: #000 !important;
  }
  &.active {
    color: #e4e4e4 !important;
    &:hover {
      color: #fff !important;
    }
  }
}
.header-navbar {
  padding: 20px 0;
  background-color: #fff;
  &.fixed {
    background-color: $main-color;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    animation: header-animation 0.5s linear !important;
  }
}
.nav-icon {
  color: $main-color;
}

.header-contact-link {
  display: flex;
  align-items: center;
}
.header-search {
  position: relative;
}
.header-serch-bar {
  font-size: 25px;
  margin-left: 30px;
  color: $main-color;
  &.active {
    color: #fff;
  }
  &.remove {
    display: none;
  }
}
.header-serch-bar-2 {
  font-size: 25px;
  margin-left: 30px;
  color: $main-color;
  display: none;
  &.active {
    display: block;
  }
  &.scroll-active-2 {
    color: #fff !important;
  }
}
.header-search-input-item {
  position: absolute;
  width: 380px;
  top: 100px;
  right: -100px;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
  &.active {
    top: 67px;
    opacity: 1;
    visibility: visible;
    transition: 0.4s;
  }
}
.header-search-input {
  padding: 10px 20px;
  width: 100%;
  border: 1px solid #0000001a;
  &:focus {
    outline: none;
  }
  &.scroll-active {
    &::placeholder {
      color: #fff;
    }
    background-color: $main-color;
    color: #fff;
  }
}
.header-responsive-search {
  position: relative;
}
.header-responsive-search-input {
  width: 100%;
  padding: 10px 20px;
  border: 1px solid #0000001a;
  &:focus {
    outline: none;
  }
  &.active {
    background-color: $main-color;
    border-color: #fff;
    color: #fff;
    &::placeholder {
      color: #ffffff !important;
    }
  }
}
.header-responsive-serch-bar {
  position: absolute;
  right: 15px;
  top: 50%;
  color: $main-color;
  transform: translateY(-50%);
  &.active {
    color: #fff;
  }
}
.header-responsive-search {
  display: none;
}
//  header-navbar-top scss end
