@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

img {
  width: 100%;
}

p {
  margin-bottom: 0;
  font-size: 16px;
  color: #575757;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #000;
  font-size: 16px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

img {
  width: 100%;
}

.main-btn {
  display: inline-block;
  position: relative;
  z-index: 1;
}

.main-btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: translate(-5px, -5px);
          transform: translate(-5px, -5px);
  width: 100%;
  height: 100%;
  background-color: #4285f4;
  border: 2px solid #fff;
  z-index: -1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.main-btn:hover::before {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.main-btn-link {
  color: #fff;
  padding: 7px 20px;
  border: 2px solid #fff;
  background-color: #4285f4;
}

.main-btn-link:hover {
  color: #fff;
}

.btn-2 {
  font-family: "Playfair Display", serif;
  background-color: #4285f4;
  padding: 12px 50px;
  color: #fff;
}

.btn-2:hover {
  color: #fff;
}

.header-top-navbar {
  background-color: #4285f4;
  padding: 20px 0;
}

.header-contact-item-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-contact-img {
  width: auto;
  margin-right: 15px;
}

.header-contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 25px;
  border-left: 3px solid #0749b5;
  border-right: 3px solid #77a8fa;
}

.header-contact-item:first-child {
  border-left: none;
}

.header-contact-item:last-child {
  border-right: none;
}

.header-contact-title {
  color: #fff;
  font-weight: 600;
}

.header-contact-info {
  color: #fff;
}

.navbar-brand {
  padding: 0;
}

.header-logo {
  width: 180px;
}

.navbar {
  padding: 0;
}

.nav-link {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  color: #575757 !important;
  padding: 10px 15px !important;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.nav-link.active {
  color: #000 !important;
}

.nav-link:hover {
  color: #000 !important;
}

.header-serch-bar {
  font-size: 25px;
  margin-left: 30px;
  color: #4285f4;
}

.header-navbar {
  padding: 20px 0;
}

.banner-section {
  padding-top: 200px;
  padding-bottom: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-title {
  font-size: 100px;
  color: #fff;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  margin-bottom: 35px;
}

.banner-details {
  color: #fff;
  font-size: 20px;
}

.place-search-section {
  background-color: transparent;
  margin-top: -125px;
  padding-bottom: 120px;
}

.place-search-input {
  font-size: 16px;
  width: 100%;
  padding: 12px;
  border-left: 1px solid rgba(0, 0, 0, 0.103) !important;
  border-right: 1px solid rgba(0, 0, 0, 0.103) !important;
  border: none;
}

.place-search-input:focus {
  outline: none;
}

.place-search-item-wrapper {
  padding: 100px 15px;
  background-color: #fff;
}

.place-search-item {
  position: relative;
}

.place-search-input-icon {
  font-size: 20px;
  color: #4285f4;
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.place-search-input-icon:hover {
  color: #4285f4;
}

.fa-caret-down {
  color: #575757;
}

.about-content-section {
  padding-bottom: 115px;
}

.about-title-top {
  font-family: "Dancing Script", cursive;
  font-size: 25px;
  color: #4285f4;
  margin-bottom: 15px;
}

.about-title {
  font-family: "Playfair Display", serif;
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 25px;
}

.about-title-icon-line {
  position: relative;
  width: 80px;
  height: 1px;
  display: inline-block;
  background: #4285f4;
}

.about-title-icon-line::before {
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  width: 80px;
  height: 1px;
  display: inline-block;
  background: #4285f4;
}

.about-title-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.boat-icon {
  max-width: 30px;
  margin: 0 5px;
}

.about-details-info {
  margin-bottom: 35px;
}

.about-img-icon {
  width: auto;
  margin-bottom: 30px;
}

.about-item-title {
  font-size: 24px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  margin-bottom: 20px;
}

.about-item-wrap {
  padding-bottom: 105px;
}

.counter-up-section {
  padding: 75px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.counter-up-section .col-lg-3 {
  width: 20%;
}

.counter-up-item {
  text-align: center;
}

.counter-up-number {
  font-family: "Playfair Display", serif;
  color: #fff;
  font-size: 60px;
  margin-bottom: 15px;
  font-weight: 400;
}

.counter-up-title {
  color: #fff;
  font-size: 20px;
}

.section-header {
  text-align: center;
}

.section-header-top {
  font-size: 30px;
  font-family: "Dancing Script", cursive;
  color: #4285f4;
  margin-bottom: 10px;
}

.section-title {
  font-size: 50px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  margin-bottom: 25px;
}

.section-title-icon {
  margin-bottom: 25px;
}

.section-details {
  font-size: 20px;
}

.destination-section {
  padding-top: 115px;
  padding-bottom: 115px;
}

.destination-details-wrap {
  margin-top: 60px;
}

.destination-details-wrap [class*="col-"]:nth-of-type(2) .destination-price {
  background-color: #ef4676;
}

.destination-details-wrap [class*="col-"]:nth-of-type(3) .destination-price {
  background-color: #e67e22;
}

.destination-details-wrap [class*="col-"]:nth-of-type(4) .destination-price {
  background-color: #e67e22;
}

.destination-details-wrap [class*="col-"]:nth-of-type(5) .destination-price {
  background-color: #1abc9c;
}

.destination-details-wrap [class*="col-"]:nth-of-type(6) .destination-price {
  background-color: #1abc9c;
}

.destination-item {
  margin-bottom: 35px;
}

.destination-title {
  font-size: 24px;
  font-family: "Playfair Display", serif;
  margin-bottom: 15px;
}

.destination-title svg {
  color: #4285f4 !important;
}

.destination-time-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.destination-details {
  padding: 25px;
}

.destination-time {
  font-size: 15px;
}

.destination-time svg {
  color: #4285f4;
  opacity: 0.6;
}

.destination-price {
  background-color: #4285f4;
  color: #fff;
}

.destination-price {
  background-color: #4285f4;
  color: #fff;
  padding: 0px 15px;
  border-radius: 4px;
}

@media (max-width: 1400px) {
  .header-contact-item {
    padding: 0px 23px;
  }
}
/*# sourceMappingURL=style.css.map */