@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@-webkit-keyframes header-animation {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  75% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes header-animation {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  75% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.w-20 {
  width: 20% !important;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
  font-size: 16px;
  color: #575757;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #000;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

span {
  margin-bottom: 0;
}

img {
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}

.form-select:focus {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.scroll-top {
  position: fixed;
  bottom: 100%;
  right: 30px;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: #4285f4;
  color: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 1s;
  transition: all 1s;
  border: none;
  z-index: 100;
}

.scroll-top i {
  font-size: 20px;
}

.scroll-top.active {
  bottom: 70px;
  opacity: 1;
  visibility: visible;
}

.main-btn {
  display: inline-block;
  position: relative;
  z-index: 1;
}

.main-btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: translate(-5px, -5px);
          transform: translate(-5px, -5px);
  width: 100%;
  height: 100%;
  background-color: #4285f4;
  border: 2px solid #fff;
  z-index: -1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.main-btn:hover::before {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.main-btn-link {
  color: #fff;
  padding: 9px 35px;
  border: 2px solid #fff;
  background-color: #4285f4;
}

.main-btn-link:hover {
  color: #fff;
}

.btn-2 {
  font-family: "Playfair Display", serif;
  background-color: #4285f4;
  padding: 12px 50px;
  color: #fff;
}

.btn-2:hover {
  color: #fff;
}

.header-top-navbar {
  background-color: #4285f4;
  padding: 20px 0;
}

.header-contact-item-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-contact-img {
  width: auto;
  margin-right: 15px;
}

.header-contact-item {
  padding: 0 25px;
  border-left: 3px solid #0749b5;
  border-right: 3px solid #77a8fa;
}

.header-contact-item:first-child {
  border-left: none;
}

.header-contact-item:last-child {
  border-right: none;
}

.header-contact-title {
  color: #fff;
  font-weight: 600;
}

.header-contact-info {
  color: #fff;
}

.navbar-brand {
  padding: 0;
}

.header-logo {
  width: 180px;
}

.header-logo.remove {
  display: none;
}

.header-logo-fixed {
  width: 180px;
  display: none;
}

.header-logo-fixed.active {
  display: block;
}

.navbar {
  padding: 0;
}

.nav-item {
  position: relative;
}

.nav-item:hover .dropdown-navbar {
  opacity: 1 !important;
  visibility: visible !important;
}

.dropdown-navbar {
  width: 250px;
  opacity: 0 !important;
  visibility: hidden !important;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.dropdown-menu {
  position: absolute;
  left: 0;
  top: 73px;
  border: none;
}

.dropdown-menu.show {
  margin: 0;
  top: 73px;
}

.dropdown-navbar.dropdown-menu {
  opacity: 1;
  visibility: visible;
  display: block;
  padding: 0;
}

.dropdown-nav-item {
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.dropdown-nav-item.active {
  background-color: #4285f4;
}

.dropdown-nav-item:hover {
  background-color: #4285f4;
}

.dropdown-nav-item:hover .dropdown-nav-link {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  color: #575757 !important;
  padding: 10px 15px !important;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: #fff !important;
}

.dropdown-nav-link {
  width: 100%;
  font-family: "Playfair Display", serif;
  font-size: 20px;
  color: #575757 !important;
  padding: 10px 15px !important;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.dropdown-nav-link i {
  margin-right: 5px;
  font-size: 15px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.dropdown-nav-link.active {
  color: #fff !important;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.dropdown-nav-link.active:hover {
  background-color: #fff !important;
  color: #4285f4 !important;
}

.nav-link {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  color: #575757 !important;
  padding: 10px 15px !important;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.nav-link.active-nav {
  color: #000 !important;
}

.nav-link.active-nav.active {
  color: #ffffff !important;
}

.nav-link:hover {
  color: #000 !important;
}

.nav-link:hover i {
  color: #000 !important;
}

.nav-link.active {
  color: #e4e4e4 !important;
}

.nav-link.active:hover {
  color: #fff !important;
}

.nav-link i {
  color: #5c5c5c !important;
  margin-left: 5px;
  font-size: 15px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.nav-link i.active {
  color: #e4e4e4 !important;
}

.header-navbar {
  padding: 20px 0;
  background-color: #fff;
}

.header-navbar.fixed {
  background-color: #4285f4;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  -webkit-animation: header-animation 0.5s linear !important;
          animation: header-animation 0.5s linear !important;
}

.nav-icon {
  color: #4285f4;
  font-size: 40px;
}

.header-contact-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-search {
  position: relative;
}

.header-serch-bar {
  font-size: 25px;
  margin-left: 30px;
  color: #4285f4;
}

.header-serch-bar.active {
  color: #fff;
}

.header-serch-bar.remove {
  display: none;
}

.header-serch-bar-2 {
  font-size: 25px;
  margin-left: 30px;
  color: #4285f4;
  display: none;
}

.header-serch-bar-2.active {
  display: block;
}

.header-serch-bar-2.scroll-active-2 {
  color: #fff !important;
}

.header-search-input-item {
  position: absolute;
  width: 380px;
  top: 100px;
  right: -100px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header-search-input-item.active {
  top: 67px;
  opacity: 1;
  visibility: visible;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header-search-input {
  padding: 10px 20px;
  width: 100%;
  border: 1px solid #0000001a;
}

.header-search-input:focus {
  outline: none;
}

.header-search-input.scroll-active {
  background-color: #4285f4;
  color: #fff;
}

.header-search-input.scroll-active::-webkit-input-placeholder {
  color: #fff;
}

.header-search-input.scroll-active:-ms-input-placeholder {
  color: #fff;
}

.header-search-input.scroll-active::-ms-input-placeholder {
  color: #fff;
}

.header-search-input.scroll-active::placeholder {
  color: #fff;
}

.header-responsive-search {
  position: relative;
}

.header-responsive-search-input {
  width: 100%;
  padding: 10px 20px;
  border: 1px solid #0000001a;
}

.header-responsive-search-input:focus {
  outline: none;
}

.header-responsive-search-input.active {
  background-color: #4285f4;
  border-color: #fff;
  color: #fff;
}

.header-responsive-search-input.active::-webkit-input-placeholder {
  color: #ffffff !important;
}

.header-responsive-search-input.active:-ms-input-placeholder {
  color: #ffffff !important;
}

.header-responsive-search-input.active::-ms-input-placeholder {
  color: #ffffff !important;
}

.header-responsive-search-input.active::placeholder {
  color: #ffffff !important;
}

.header-responsive-serch-bar {
  position: absolute;
  right: 15px;
  top: 50%;
  color: #4285f4;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header-responsive-serch-bar.active {
  color: #fff;
}

.header-responsive-search {
  display: none;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  z-index: 99;
}

.loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #4285f4;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

.loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #575757;
  -webkit-animation: spin 3s linear infinite;
          animation: spin 3s linear infinite;
}

.loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #4285f4;
  -webkit-animation: spin 1.5s linear infinite;
          animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.pagination-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 40px;
}

.pagination-link {
  width: 45px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #555555;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 50%;
  margin-right: 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.pagination-link:hover {
  background-color: #4285f4;
  color: #fff;
}

.banner-section {
  padding-top: 200px;
  padding-bottom: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-title {
  font-size: 100px;
  color: #fff;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  margin-bottom: 35px;
}

.banner-details {
  color: #fff;
  font-size: 20px;
}

.place-search-section {
  background-color: transparent;
  margin-top: -125px;
  padding-bottom: 120px;
}

.place-search-section .container {
  width: 1106px;
}

.place-search-input {
  color: #6e6e6e;
  font-size: 16px;
  width: 100%;
  padding: 12px;
  border: 1px solid rgba(0, 0, 0, 0.103) !important;
  border: none;
}

.place-search-input::-webkit-input-placeholder {
  color: #292929;
}

.place-search-input:-ms-input-placeholder {
  color: #292929;
}

.place-search-input::-ms-input-placeholder {
  color: #292929;
}

.place-search-input::placeholder {
  color: #292929;
}

.place-search-input.form-select {
  background-image: none !important;
  border-radius: 0;
}

.place-search-input:focus {
  outline: none;
}

.place-search-item-wrapper {
  padding: 100px 15px;
  background-color: #f5f8fd;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(164, 164, 164, 0.25);
          box-shadow: 0px 0px 5px 1px rgba(164, 164, 164, 0.25);
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.place-search-item-wrapper .place-search-item {
  width: 27% !important;
}

.place-search-item-wrapper .place-search-item:last-child {
  width: 14% !important;
}

.place-search-item {
  position: relative;
  padding: 0;
  margin: 0 5px;
}

.place-search-input-icon {
  font-size: 20px;
  color: #4285f4;
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.place-search-input-icon:hover {
  color: #4285f4;
}

.fa-caret-down {
  color: #575757;
}

.about-content-section {
  padding-bottom: 115px;
}

.about-title-top {
  font-family: "Pinyon Script", cursive;
  font-size: 25px;
  color: #4285f4;
  margin-bottom: 15px;
}

.about-title {
  font-family: "Playfair Display", serif;
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 25px;
}

.about-title-icon-line {
  position: relative;
  width: 80px;
  height: 1px;
  display: inline-block;
  background: #4285f4;
}

.about-title-icon-line::before {
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  width: 80px;
  height: 1px;
  display: inline-block;
  background: #4285f4;
}

.about-title-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.boat-icon {
  max-width: 30px;
  margin: 0 5px;
}

.about-details-info {
  font-size: 20px;
  margin-bottom: 35px;
}

.about-img-icon {
  width: auto;
  margin-bottom: 30px;
}

.about-item-title {
  font-size: 24px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  margin-bottom: 20px;
}

.about-item-wrap {
  padding-bottom: 110px;
}

.counter-up-section {
  padding: 75px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.counter-up-number-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.counter-up-item {
  text-align: center;
}

.counter-up-number {
  font-family: "Playfair Display", serif;
  color: #fff;
  font-size: 60px;
  margin-bottom: 15px;
  font-weight: 400;
}

.counter-up-title {
  color: #fff;
  font-size: 20px;
}

.odometer-inside {
  font-family: "Playfair Display", serif;
}

.section-header {
  text-align: center;
  margin-bottom: 60px;
}

.section-header-top {
  font-size: 30px;
  font-family: "Pinyon Script", cursive;
  color: #4285f4;
  margin-bottom: 10px;
}

.section-title {
  font-size: 50px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  margin-bottom: 25px;
}

.section-title-icon {
  margin-bottom: 25px;
}

.section-details {
  font-size: 20px;
}

.destination-section {
  padding-top: 115px;
  padding-bottom: 115px;
}

.destination-details-wrap [class*="col-"]:nth-of-type(6n + 1) .destination-price {
  background-color: #4284f3;
}

.destination-details-wrap [class*="col-"]:nth-of-type(6n + 2) .destination-price {
  background-color: #ef4676;
}

.destination-details-wrap [class*="col-"]:nth-of-type(6n + 3) .destination-price {
  background-color: #e67e22;
}

.destination-details-wrap [class*="col-"]:nth-of-type(6n + 4) .destination-price {
  background-color: #e67e22;
}

.destination-details-wrap [class*="col-"]:nth-of-type(6n + 5) .destination-price {
  background-color: #1abc9c;
}

.destination-details-wrap [class*="col-"]:nth-of-type(6n + 6) .destination-price {
  background-color: #1abc9c;
}

.destination-item {
  margin-bottom: 35px;
}

.destination-title {
  font-size: 24px;
  font-family: "Playfair Display", serif;
  margin-bottom: 15px;
}

.destination-title i {
  color: #4285f4 !important;
}

.destination-time-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.destination-details {
  padding: 25px;
  -webkit-box-shadow: 0px 0px 71.1px 7.9px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 0px 71.1px 7.9px rgba(0, 0, 0, 0.07);
}

.destination-time {
  font-size: 15px;
  color: #555;
  font-weight: 600;
  margin-right: 10px;
}

.destination-time i {
  color: #c9ddfe;
}

.destination-price {
  background-color: #4285f4;
  color: #fff;
}

.destination-price {
  background-color: #4285f4;
  color: #fff;
  padding: 0px 15px;
  border-radius: 4px;
}

.booking-section {
  position: relative;
}

.booking-input-title {
  margin-bottom: 10px;
}

.booking-form {
  margin-bottom: 30px;
}

.booking-form-area > * {
  padding-right: calc(var(--bs-gutter-x) * 0.1);
  padding-left: calc(var(--bs-gutter-x) * 0.1);
}

.booking-text-message {
  height: 150px;
  resize: none;
}

.booking-img-wrap {
  position: relative;
  z-index: 1;
}

.booking-img-bg {
  position: absolute;
  left: 0;
  top: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 45%;
  height: 100%;
  right: 120px;
  z-index: -1;
}

.booking-img {
  position: absolute;
  left: 40%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 20px solid #fff;
}

.booking-img-bg-responsive {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 100%;
  right: 120px;
  z-index: -1;
}

.team-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-item {
  position: relative;
}

.team-item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #4285f4;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.team-item::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #4285f4;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.team-item:hover::before, .team-item:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.team-item:hover .team-member-img::before {
  opacity: 0.8;
  visibility: visible;
}

.team-item:hover .team-img-plus {
  opacity: 1;
  visibility: visible;
}

.team-member-img {
  position: relative;
  z-index: 1;
}

.team-member-img::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #4285f4;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.team-img-plus {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.team-details {
  padding: 30px;
  text-align: center;
}

.team-title {
  font-size: 24px;
  font-family: "Playfair Display", serif;
  margin-bottom: 14px;
}

.team-roll {
  font-size: 18px;
  color: #4285f4;
  margin-bottom: 20px;
}

.team-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team-social-link {
  color: #575757;
  margin-right: 15px;
}

.feedback-section {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #f9f9f9;
}

.feedback-item-title {
  text-align: center;
  font-style: italic;
}

.feedback-item-top {
  position: relative;
  padding-top: 45px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 55px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.103);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: 1;
}

.feedback-item-top::before {
  content: "";
  position: absolute;
  right: 25px;
  bottom: 25px;
  width: 13px;
  height: 28px;
  border-radius: 30px 0 0 0;
  background-color: #575757;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.feedback-item-top::after {
  content: "";
  position: absolute;
  right: 45px;
  bottom: 25px;
  width: 13px;
  height: 28px;
  border-radius: 30px 0 0 0;
  background-color: #575757;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.feedback-item-top i {
  font-size: 30px;
  position: absolute;
  z-index: -1;
  bottom: -19px;
  left: 30px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: #575757;
}

.feedback-item-top:hover {
  border-color: #4285f4;
}

.feedback-item-top:hover::before, .feedback-item-top:hover::after {
  background-color: #4285f4;
}

.feedback-item-top:hover svg {
  color: #4285f4;
}

.feedback-item-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px;
}

.feedback-item-img {
  width: auto;
  margin-right: 13px;
}

.feedback-member-title {
  font-size: 18px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

.blog-section {
  padding-top: 100px;
  padding-bottom: 110px;
}

.blog-post-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog-caption {
  padding: 30px;
  -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.07);
}

.blog-post-time i {
  color: #c6c5c5;
  margin-right: 2px;
}

.blog-text {
  margin-bottom: 20px;
}

.blog-divider {
  margin: 25px 0;
}

.blog-btn {
  color: #4285f4;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.blog-btn:hover {
  letter-spacing: 1px;
  text-decoration: underline;
}

.company-partner-img {
  width: auto;
}

.company-partner-item-wrap {
  margin: 0 70px;
}

.company-partner-item {
  text-align: center;
}

.company-partner-section {
  padding-bottom: 120px;
}

.footer-section {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-section-padding {
  padding-top: 110px;
  padding-bottom: 100px;
}

.footer-logo {
  width: auto;
  margin-bottom: 28px;
}

.footer-details {
  color: #989ca0;
  font-weight: 600;
  margin-bottom: 20px;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

.footer-social-link {
  width: 37px;
  height: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #b8b8b8;
  border-radius: 50%;
  color: #fff;
  margin-right: 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.footer-social-link:hover {
  background-color: #4285f4;
  color: #fff;
  border-color: #4285f4;
}

.footer-item-hdr-title {
  font-family: "Playfair Display", serif;
  font-size: 24px;
  color: #fff;
  font-weight: 400;
  position: relative;
  padding-bottom: 25px;
  margin-bottom: 28px;
}

.footer-item-hdr-title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 20%;
  height: 2px;
  background-color: #4285f4;
}

.footer-item-title {
  font-family: "Playfair Display", serif;
  font-size: 18px;
  margin-bottom: 10px;
  color: #c3c3c3;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.footer-item-title:hover {
  color: #4285f4;
}

.footer-item-title svg {
  font-size: 22px;
  margin-right: 5px;
}

.footer-blog-details {
  padding-bottom: 25px;
  border-bottom: 1px solid #b8b8b8;
}

.footer-copyright {
  text-align: center;
  padding: 15px 0;
  color: #c3c3c3;
}

.footer-copyright-wrap {
  background-color: rgba(255, 255, 255, 0.031);
}

.about-banner-section {
  padding-top: 194px;
  padding-bottom: 194px;
}

.aboutpage-banner-title {
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 80px;
  font-weight: 400;
  margin-bottom: 20px;
}

.page-source-img {
  width: auto;
  margin: 0 12px;
}

.page-source-link {
  font-size: 20px;
  color: #000;
}

.actv-page-source {
  color: #4285f4;
}

.about-page-about-img-wrap {
  position: relative;
}

.about-page-about-img {
  width: 440px;
  height: 440px;
}

.about-page-about-img-1 {
  position: absolute;
  top: 42%;
  left: 15%;
}

.aboutpage-content-section {
  padding-bottom: 180px;
}

.why-choose-us .about-title-top {
  margin-bottom: 5px;
}

.why-choose-us .about-title {
  margin-bottom: 10px;
}

.why-choose-us .about-title-icon {
  margin-bottom: 40px;
}

.destination-page-destination-section {
  padding-top: 0;
}

.destination-page-destination-section .place-search-item-wrapper {
  padding: 0;
  background-color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 80px;
}

.destination-page-destination-section .place-search-item {
  margin-left: 0;
  margin-right: 10px;
}

.destination-page-destination-section .place-search-item:last-child {
  margin-right: 0;
}

.destination-page-destination-section .btn-2 {
  padding: 12px 66px;
}

.destination-page-destination-section .place-search-item-area {
  margin-bottom: 50px;
}

.crew-page-crew-wrap .team-item {
  margin-bottom: 45px;
}

.blog-page-blog-section .blog-item {
  margin-bottom: 45px;
}

.contact-page-contact-section {
  padding-bottom: 100px;
}

.row.contact-page-contact-form > * {
  padding-right: calc(var(--bs-gutter-x) * 0.3) !important;
  padding-left: calc(var(--bs-gutter-x) * 0.3) !important;
}

.contact-map iframe {
  width: 100%;
  height: 580px;
}

.contact-info-title {
  font-family: "Playfair Display", serif;
  font-size: 30px;
  margin-bottom: 30px;
}

.contact-details-img {
  width: auto;
  margin-right: 15px;
}

.contact-details-item {
  margin-bottom: 20px;
}

.contact-info-details {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-details-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contact-details-title {
  font-size: 20px;
  font-family: "Playfair Display", serif;
  margin-bottom: 10px;
}

.contact-details-info {
  color: #515151;
  font-family: "Raleway", sans-serif;
}

.contact-hotline {
  text-align: center;
  padding: 25px;
  background-color: #4285f4;
}

.hotline-title {
  font-family: "Playfair Display", serif;
  font-size: 30px;
  color: #fff;
}

.hotline-title-details {
  color: #fff;
}

.hotline-number {
  font-family: "Raleway", sans-serif;
  font-size: 35px;
  margin-top: 20px;
  color: #fff;
}

.hotline-number:hover {
  color: #fff;
}

.contact-page-contact-form {
  margin-top: 60px;
}

.contact-form-title {
  font-family: "Playfair Display", serif;
  font-size: 24px;
  margin-bottom: 40px;
}

.conatact-input {
  margin-bottom: 25px;
}

.service-section .about-item-wrap {
  padding-bottom: 100px;
}

.service-section .about-item {
  text-align: center;
  padding: 30px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin-bottom: 45px;
}

.service-section .about-item:hover {
  -webkit-box-shadow: 0px 0px 81px 9px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 0px 81px 9px rgba(0, 0, 0, 0.06);
}

.service-section .blog-text {
  margin-bottom: 0;
}

.service-section .blog-item {
  margin-bottom: 45px;
}

.service-section .blog-caption {
  text-align: center;
}

.service-page-service-section {
  margin-bottom: 80px;
}

.search-result-section {
  padding-bottom: 110px;
}

.search-result-item {
  margin-bottom: 50px;
}

.search-result-item:last-child {
  margin-bottom: 0;
}

.search-result-title {
  font-family: "Playfair Display", serif;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 25px;
}

.search-result-details {
  font-family: "Raleway", sans-serif;
}

.search-result-details a {
  color: #4285f4;
}

.book-page-section {
  padding-bottom: 110px;
}

.book-page-section .about-title {
  font-size: 30px;
}

.ship-booking {
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.07);
}

.ship-img-price {
  position: relative;
  margin-bottom: 30px;
}

.ship-details p {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  margin-bottom: 40px;
}

.ship-price-details {
  position: absolute;
  right: 30px;
  top: 30px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  background-color: #4285f4;
  display: inline-block;
  color: #fff;
  padding: 2px 20px;
  border-radius: 5px;
}

.ship-img-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ship-img-details li {
  margin-right: 5px;
}

.ship-img-details a {
  position: relative;
  z-index: 1;
}

.ship-img-details a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #4285f4;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.ship-img-details a:hover::before {
  opacity: 0.7;
  visibility: visible;
}

.faq-list-item {
  margin-bottom: 50px;
}

.faq-list-item:last-child {
  margin-bottom: 0;
}

.faq-list-item .search-result-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
}

.faq-list-item .search-result-item .search-result-title {
  margin-bottom: 0;
}

.faq-list-item .search-result-details {
  margin-left: 110px;
}

.faq-list-number {
  padding: 16px 19px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 25.23px 3.77px rgba(164, 164, 164, 0.18);
          box-shadow: 0px 0px 25.23px 3.77px rgba(164, 164, 164, 0.18);
  margin-right: 20px;
  display: inline-block;
}

.faq-list-number h4 {
  font-size: 52px;
  font-family: "Playfair Display", serif;
  color: #777777;
}

@media (max-width: 1400px) {
  .destination-page-destination-section .btn-2 {
    padding: 12px 50px;
  }
}

@media (max-width: 1199px) {
  .header-btn-link {
    padding: 9px 20px;
  }
  .about-page-about-img {
    display: none;
  }
  .about-page-about-img-1 {
    display: block;
    position: relative;
    top: 0;
    left: 0;
  }
  .aboutpage-content-section .container .row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aboutpage-content-section {
    padding-bottom: 100px;
  }
  .btn-2 {
    padding: 12px 41px;
  }
}

@media (max-width: 991px) {
  .header-navbar {
    padding: 12px 0;
  }
  .navbar-toggler-icon svg {
    font-size: 40px;
  }
  .dropdown-navbar {
    opacity: 0 !important;
    visibility: hidden !important;
    display: none !important;
  }
  .dropdown-menu {
    background-color: transparent;
  }
  .dropdown-menu.show {
    margin: 10px 0;
    top: 0;
    display: block !important;
    position: inherit;
    opacity: 1 !important;
    visibility: visible !important;
    width: 100%;
  }
  .dropdown-nav-item {
    background-color: transparent;
  }
  .navbar-toggler {
    border: none;
    padding: 0;
  }
  .navbar-toggler:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .navbar-collapse {
    margin-top: 20px;
  }
  .header-contact-info {
    display: none;
  }
  .nav-icon.active {
    color: #fff;
  }
  .header-search {
    display: none;
  }
  .header-responsive-search {
    display: block;
  }
  .banner-section {
    padding-top: 150px;
    padding-bottom: 250px;
  }
  .place-search-item-wrapper {
    padding: 80px 15px;
  }
  .place-search-item {
    width: 31% !important;
  }
  .place-search-item:last-child {
    width: 100% !important;
  }
  .place-search-btn-responsive {
    text-align: center;
    margin-top: 30px;
  }
  .about-details {
    margin-top: 40px;
  }
  .about-item {
    margin-bottom: 40px;
  }
  .booking-img-wrap {
    left: 50%;
    top: 55%;
    -webkit-transform: translate(-50%, 15%);
            transform: translate(-50%, 15%);
  }
  .booking-img {
    position: relative;
    left: 50%;
    top: 50%;
  }
  .booking-img-bg {
    width: 100%;
    height: 800px;
  }
  .footer-item {
    margin-bottom: 45px;
  }
  .company-partner-item {
    margin-bottom: 40px;
  }
  .company-partner-item-wrap {
    margin: 0;
  }
  .company-partner-item-wrap .w-20 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 auto !important;
            flex: 0 0 auto !important;
    width: 33.33333333% !important;
  }
  .company-partner-section {
    padding-bottom: 60px;
  }
  .aboutpage-banner-title {
    font-size: 70px;
  }
  .about-page-about-img-1 {
    width: 100%;
  }
  .team-item {
    margin-bottom: 45px;
  }
  .blog-item {
    margin-bottom: 45px;
  }
  .dropdown-nav-item:hover {
    background-color: #fff !important;
  }
  .dropdown-nav-item:hover .dropdown-nav-link {
    color: #000 !important;
  }
  .dropdown-nav-link.active {
    background-color: #4285f4;
    color: #e4e4e4 !important;
  }
  .dropdown-nav-link.active:hover {
    color: #fff !important;
    background-color: #4285f4 !important;
  }
  .destination-time {
    margin-right: 40px;
  }
}

@media (max-width: 767px) {
  .header-contact-details {
    display: none;
  }
  .header-contact-item {
    padding: 0px 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header-contact-link {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .banner-title {
    font-size: 80px;
  }
  .banner-section {
    padding-top: 125px;
    padding-bottom: 250px;
  }
  .place-search-section {
    padding-bottom: 60px;
  }
  .place-search-item {
    margin-bottom: 20px;
    width: 100% !important;
  }
  .place-search-item:last-child {
    margin-bottom: 0;
  }
  .aboutpage-banner-title {
    font-size: 65px;
  }
  .place-search-item-wrapper {
    padding: 70px 15px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .place-search-item-wrapper .place-search-item {
    width: 100% !important;
  }
  .place-search-item-wrapper .place-search-item:last-child {
    width: 100% !important;
  }
  .place-search-btn-responsive {
    text-align: center;
    margin-top: 10px;
  }
  .booking-img-bg {
    height: 600px;
  }
  .about-img {
    margin-bottom: 45px;
  }
  .about-item {
    margin-bottom: 35px;
  }
  .w-20 {
    width: 33.33% !important;
  }
  .counter-up-item {
    margin-bottom: 35px;
  }
  .team-section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .team-item {
    text-align: center;
    margin-bottom: 40px;
  }
  .feedback-section {
    padding-top: 0;
  }
  .feedback-item {
    margin-bottom: 30px;
  }
  .blog-section {
    padding-top: 100px;
  }
  .blog-item {
    margin-bottom: 35px;
  }
  .company-partner-item-wrap {
    margin: 0;
  }
  .company-partner-item {
    margin-bottom: 40px;
  }
  .footer-item {
    margin-bottom: 40px;
  }
  .booking-section .about-details {
    margin-top: 200px;
  }
}

@media (max-width: 575px) {
  .header-top-navbar {
    display: none;
  }
  .header-logo {
    width: 160px;
  }
  .aboutpage-banner-title {
    font-size: 50px;
  }
  .booking-img-bg {
    right: 0;
    top: 0;
  }
  .booking-img {
    left: 50%;
    width: 90%;
  }
  .booking-img-bg {
    height: 550px;
  }
  .booking-section .about-details {
    margin-top: 180px;
  }
  .w-20 {
    width: 50% !important;
  }
  .banner-section {
    padding-top: 160px;
    padding-bottom: 280px;
  }
  .banner-title {
    font-size: 70px;
  }
  .place-search-item-wrapper {
    padding: 60px 15px;
    margin: 0 5px;
  }
  .about-item-wrap {
    padding-bottom: 100px;
  }
  .destination-section {
    padding-top: 80px;
    padding-bottom: 100px;
  }
  .booking-section {
    padding-bottom: 100px;
  }
  .team-section {
    padding-bottom: 100px;
  }
  .blog-section {
    padding-bottom: 70px;
  }
  .company-partner-section {
    padding-bottom: 60px;
  }
  .footer-section-padding {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .company-partner-item-wrap .w-20 {
    width: 50% !important;
  }
  .w-20 {
    width: 100% !important;
  }
  .place-search-section .container {
    width: auto;
  }
  .place-search-section {
    margin-top: -190px;
  }
  .place-search-item {
    margin-left: 0;
    margin-right: 0;
    width: 100% !important;
  }
  .place-search-item:nth-child(2) {
    width: 100% !important;
  }
  .place-search-item:nth-child(3) {
    width: 100% !important;
  }
  .about-hdr-btn {
    display: none;
  }
  .about-hdr-btn-mobile {
    margin-top: 30px;
  }
  .place-search-btn-responsive {
    margin-top: 10px;
  }
  .booking-form-area > * {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
  }
}

@media (max-width: 450px) {
  .banner-section {
    padding-top: 130px;
    padding-bottom: 230px;
  }
  .aboutpage-banner-title {
    font-size: 40px;
  }
  .place-search-item-wrapper {
    padding: 50px 15px;
  }
  .place-search-section {
    margin-top: -110px;
  }
  .company-partner-item-wrap .w-20 {
    width: 100% !important;
  }
  .about-title {
    font-size: 40px;
  }
  .section-title {
    font-size: 40px;
  }
  .footer-section-padding {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .faq-list-item .search-result-item {
    display: block;
  }
  .faq-list-number {
    margin-right: 0;
    margin-bottom: 25px;
  }
  .faq-list-item .search-result-details {
    margin-left: 0;
    margin-top: 25px;
  }
  .faq-list-number h4 {
    font-size: 45px;
  }
  .booking-img-bg {
    height: 330px;
  }
  .booking-section .about-details {
    margin-top: 130px;
  }
  .about-details {
    margin-top: 0;
  }
  .destination-time {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .blog-post-details {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */