//  banner-section scss start
.banner-section {
  padding-top: 200px;
  padding-bottom: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-title {
  font-size: 100px;
  color: #fff;
  font-family: $font-1;
  font-weight: 700;
  margin-bottom: 35px;
}
.banner-details {
  color: #fff;
  font-size: 20px;
}
//  banner-section scss end

// place-search-section scss start
.place-search-section {
  background-color: transparent;
  margin-top: -125px;
  padding-bottom: 120px;
}
.place-search-input {
  color: #6e6e6e;
  font-size: 16px;
  width: 100%;
  padding: 12px;
  border-left: 1px solid rgba(0, 0, 0, 0.103) !important;
  border-right: 1px solid rgba(0, 0, 0, 0.103) !important;
  border: none;
  &:focus {
    outline: none;
  }
}
.place-search-item-wrapper {
  padding: 100px 15px;
  background-color: #fff;
}
.place-search-item {
  position: relative;
}
.place-search-input-icon {
  font-size: 20px;
  color: $main-color;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  &:hover {
    color: $main-color;
  }
}
.fa-caret-down {
  color: #575757;
}
// place-search-section scss end

//  about-us-section scss start
.about-content-section {
  padding-bottom: 115px;
}
.about-title-top {
  font-family: $signature-font;
  font-size: 25px;
  color: $main-color;
  margin-bottom: 15px;
}
.about-title {
  font-family: $font-1;
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 25px;
}
.about-title-icon-line {
  position: relative;
  width: 80px;
  height: 1px;
  display: inline-block;
  background: $main-color;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 2px;
    width: 80px;
    height: 1px;
    display: inline-block;
    background: $main-color;
  }
}
.about-title-icon {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.boat-icon {
  max-width: 30px;
  margin: 0 5px;
}
.about-details-info {
  font-size: 20px;
  margin-bottom: 35px;
}
.about-img-icon {
  width: auto;
  margin-bottom: 30px;
}
.about-item-title {
  font-size: 24px;
  font-family: $font-1;
  font-weight: 400;
  margin-bottom: 20px;
}
.about-item-wrap {
  padding-bottom: 105px;
}
//  about-us-section scss end

// counter-up-section scss start
.counter-up-section {
  padding: 75px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .col-lg-3 {
    width: 20%;
  }
}
.counter-up-item {
  text-align: center;
}
.counter-up-number {
  font-family: $font-1;
  color: #fff;
  font-size: 60px;
  margin-bottom: 15px;
  font-weight: 400;
}
.counter-up-title {
  color: #fff;
  font-size: 20px;
}
// counter-up-section scss end

// section-header scss start
.section-header {
  text-align: center;
  margin-bottom: 60px;
}
.section-header-top {
  font-size: 30px;
  font-family: $signature-font;
  color: $main-color;
  margin-bottom: 10px;
}
.section-title {
  font-size: 50px;
  font-family: $font-1;
  font-weight: 400;
  margin-bottom: 25px;
}
.section-title-icon {
  margin-bottom: 25px;
}
.section-details {
  font-size: 20px;
}
// section-header scss end

// destination-section scss start
.destination-section {
  padding-top: 115px;
  padding-bottom: 115px;
}
.destination-details-wrap {
  [class*="col-"]:nth-of-type(2) .destination-price {
    background-color: #ef4676;
  }
  [class*="col-"]:nth-of-type(3) .destination-price {
    background-color: #e67e22;
  }
  [class*="col-"]:nth-of-type(4) .destination-price {
    background-color: #e67e22;
  }
  [class*="col-"]:nth-of-type(5) .destination-price {
    background-color: #1abc9c;
  }
  [class*="col-"]:nth-of-type(6) .destination-price {
    background-color: #1abc9c;
  }
}
.destination-item {
  margin-bottom: 35px;
}
.destination-title {
  font-size: 24px;
  font-family: $font-1;
  margin-bottom: 15px;
  svg {
    color: $main-color !important;
  }
}
.destination-time-price {
  display: flex;
  justify-content: space-between;
}
.destination-details {
  padding: 25px;
}
.destination-time {
  font-size: 15px;
  svg {
    color: $main-color;
    opacity: 0.6;
  }
}
.destination-price {
  background-color: $main-color;
  color: #fff;
}
.destination-price {
  background-color: #4285f4;
  color: #fff;
  padding: 0px 15px;
  border-radius: 4px;
}
// destination-section scss end

//  booking-section scss start
.booking-section {
  padding-bottom: 120px;
}
.booking-input-title {
  margin-bottom: 10px;
}
.booking-form {
  margin-bottom: 30px;
}
.booking-text-message {
  height: 150px;
  resize: none;
}
.booking-img-wrap {
  position: relative;
  z-index: 1;
}
.booking-img-bg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  right: 120px;
  z-index: -1;
}
.booking-img {
  position: absolute;
  left: 45%;
  top: 50%;
  right: 60px;
  transform: translate(-55%, -50%);
  border: 20px solid #fff;
}
//  booking-section scss end

// team-section scss start
.team-section {
  padding-bottom: 120px;
}
.team-item {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $main-color;
    transform: scale(0);
    transition: 0.4s;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $main-color;
    transform: scale(0);
    transition: 0.4s;
  }
  &:hover {
    &::before,
    &::after {
      transform: scale(1);
    }
    .team-member-img::before {
      opacity: 0.8;
      visibility: visible;
    }
    .team-img-plus {
      opacity: 1;
      visibility: visible;
    }
  }
}
.team-member-img {
  position: relative;
  z-index: 1;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $main-color;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
  }
}
.team-img-plus {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
}
.team-details {
  padding: 30px;
  text-align: center;
}
.team-title {
  font-size: 24px;
  font-family: $font-1;
  margin-bottom: 14px;
}
.team-roll {
  font-size: 18px;
  color: $main-color;
  margin-bottom: 20px;
}
.team-social {
  display: flex;
  justify-content: center;
}
.team-social-link {
  color: #575757;
  margin-right: 15px;
}

// team-section scss end
